.footer {
    background-image: url("brown1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.header {
    background-image: url("brown1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background-image: url("brown.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    background-image: url("brown1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}